.container1{
    width: 60%;
    margin:auto;
    margin-top 40px,
    margin-bottom 15px;
    text-align: center;
  
}
.subtit{
    color: rgb(116, 116, 116);
    font-size: 14px;
    font-weight:500;
    font-family: Arial, Helvetica, sans-serif;
}
.subtit1{
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-weight:500;
    font-family: 'Times New Roman', Times, serif;
}
.container2{
    width: 45%;
    margin:auto;
    margin-top 15px
    font-family:'Times New Roman', Times, serif;
    font-size: 22px ;
    color: rgb(63,63,63);
    font-weight: 500 ;
    
}
body{
    
    
}
h1{
    font-family:f'bookman', Times, serif;
    font-size: 44px ;
    font-weight: bold ;
}
.link1{
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-weight: bold;
}
h2{
    font-size: 20px;
}
.graf1{
    float: left;
    width: 50%;
}

.container3{
    width: 55%;
    margin:auto;
}