.d1{
    width: 50%;
    color: grey;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 50;
}
h1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 44px;
    font-weight: 50;
}
d2{
    width: 80%;
    margin:auto;
}
